<% if user_signed_in? %>
<div>
  <% @characters.each do |character| %>
  <div class="characters">
    <%= link_to "#{character.name}", character_path(character.id) %>
  </div>
  <% end %>
</div>
<div>
  <% @status.each do |status| %>
  <div>
    <%= link_to "#{status.life}", character_path(status.character_id) %>
  </div>
  <% end %>
</div>
<div>
  <%= link_to "キャラ作成", new_character_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>
<% else %>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %>
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
<% end %>