<div class="new-character">
  <%= form_with(model: @characters, local: true) do |f| %>
    <div>
      <input type="hidden" name="character[user_ids][]" value=<%="#{current_user.id}"%>>
        <%= f.label :name, "Name"%>
        <%= f.text_field :name, placeholder: "Name" %>
        <%= f.hidden_field :id %>
    </div>
  <% end %>
</div>