<%# <div class="monster">
  <h2  id="monster">ゴブリンが現われた</h2>
</div>
<div class="start">
<%= image_tag 'gettyimages-165590923-612x612.jpg', class: 'hoge' %>
  <%# <%= link_to "戦闘開始","/diceroll/show", id: "start"%> 
<%# <%= image_tag 'gettyimages-165590923-612x612.jpg', class: 'hoge' %> 
<%# </div> %> 
<div class="show-characters">
  <div class="show-characters__names">
    <%= link_to "#{@characters.name}", edit_character_path(@characters.id), class: "show-characters__names--name" %>
    <%= link_to '削除',  character_path(@characters.id), method: :delete, class: " btn show-characters__btn"%>
  </div>
</div>
